    <app-navbar></app-navbar>

    <!-- Main -->
    <main>
        <section class="register-container">
            <div  class="main-title">
                <h1>Cadastrar</h1>
            </div>
            <div class="row">
                <div class="col-6 register1">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="name" placeholder="Nome Completo" class="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="cpf" placeholder="CPF" class="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" name="email" placeholder="Email" class="email">
                        </div>
                        <div class="col-4">
                            <input type="text" name="confirm-email" placeholder="Confirmar Email" class="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <input type="password" name="password" placeholder="Senha" class="password">
                        </div>
                        <div class="col-4">
                            <input type="password" name="confirm-password" placeholder="Confirmar Senha" class="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-register" type="button">Cadastrar</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img src="../../../assets/images/sala1.png" alt="sala1" class="sala1">
                </div>
            </div>
        </section>
    </main>  


    <app-footer></app-footer>
