<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Grupo de Perguntas</title>
</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Cadastrar Grupo de Perguntas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-membroCPA.html">Incio</a></li>
                    <li class="breadcrumb-item">Avaliação</li>
                    <li class="breadcrumb-item active">Grupo de Perguntas</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">

                <div class="col-lg-11">

                    <h5 class="card-title-grupo">Grupo de Perguntas</h5>

                    <div class="card-grupo">

                        <div class="card-body">

                            <form class="row g-3 needs-validation" novalidate method="POST" th:action="@{/autoavaliacao/criar-grupo}">

                                <div class="row my-3">
                                    <label for="tipo" class="col-md-2 col-form-label">Tema do Grupo</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" name="tipo" id="tipo" placeholder="Digite aqui..." required>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <label for="descricao" class="col-md-2 col-form-label">Descrição do Grupo</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" style="height: 100px" required placeholder="Digite aqui..." name="descricao" id="descricao"></textarea>
                                    </div>
                                </div>

                                <div class="text-center my-3">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop" style="width: auto;">
                                        Cadastrar
                                    </button>
                                </div>

                                <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Reunião CPA</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Grupo de perguntas cadastrado com sucesso!
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>

            </div>

        </section>
    </main>

</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<script src="/assets/js/main.js"></script>

</div>

</body>
</html>