<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Listar Edições</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Listar Edições de Autoavaliação</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-membroCPA.html">Inicio</a></li>
                    <li class="breadcrumb-item">Avaliação</li>
                    <li class="breadcrumb-item active">Lista de Edições</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">

                <div class="col-lg-5 col-md-6 col-sm-12 mb-4 mx-4" th:each="edicao : ${edicoes}">

                    <h5 class="card-title-edicao-cadastrar">Edição Nº: <span th:text="${edicao.edicao}"></span></h5>

                    <div class="card-edicao">

                        <div class="card-body-edicao">

                            <div class="display-edicao">
                                <div class="espaco-edicao">
                                    <i class="fa-solid fa-chart-simple"></i>
                                </div>

                                <ul class="situacao-lista">
                                    <li class="situacao em-andamento">Situação: <span th:text="${edicao.situacao}"></span></li>
                                    <li class="data">Data / Início: <span th:text="${edicao.dataInicio}"></span></li>
                                    <li class="data">Data / Término: <span th:text="${edicao.dataFim}"></span></li>
                                    <li class="data">ID: <span th:text="${edicao.id}"></span></li>
                                    <li class="data">ID da instituição: <span th:text="${edicao.instituicaoId}"></span></li>
                                </ul>
                            </div>

                            <div class="table-edicao my-3">
                                <div class="form-label-span" th:text="${edicao.descricao}"></div>
                            </div>

                            <a class="btn btn-primary" th:href="@{/autoavaliacao/vincular-avaliacao/{id} (id=${edicao.id})}">
                                Vincular Avaliação
                            </a>
                        </div>


                        <div class="modal fade" id="basicModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Deseja inserir uma avaliação à edição?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <a th:href="@{/autoavaliacao/vincular-avaliacao}" class="btn btn-primary">Inserir</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</div>

</body>
</html>