<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Responder Perguntas</title>
</head>
<body class="body-pergunta">

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Responder as Perguntas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Início</a></li>
                    <li class="breadcrumb-item"><a href="#">Autoavaliação</a></li>
                    <li class="breadcrumb-item active">Perguntas Dispoíveis</li>
                </ol>
            </nav>
        </div>

        <section class="section-pergunta">
            <div class="row">

                <div class="col-lg-11">
                    <div class="card-resposta-usuario">

<!--                        <h5 class="card-title-pergunta">(Tema do Grupo)</h5>-->

                        <div class="card-body-responder-usuario">

                            <form class="row g-3 needs-validation" novalidate method="POST" onsubmit="return pegarValorDoFormulario()" th:action="@{/autoavaliacao/enviar-respostas}">

                                <div class="col-12">
                                    <input type="hidden" name="respostasObjetivas" class="form-control" id="respostasObjetivas">
                                </div>

                                <div class="col-12">
                                    <input type="hidden" name="respostasSubjetivas" class="form-control" id="respostasSubjetivas">
                                </div>

                                <div th:each="pergunta,iter : ${perguntas}">

                                    <div th:if="${pergunta.tipo == 'Objetiva'}">

                                        <div class="questao-objetiva">

                                            <div class="mb-3">
                                                <span class="form-label-span" th:text="${pergunta.descricao}"></span>
                                            </div>
                                            <div class="mb-3">
                                                <div>
                                                    <div class="form-check">
                                                        <input  class="form-check-input" type="radio" th:name="'resposta' + ${pergunta.id}" th:id="'Discordo Totalmente' + ${pergunta.id}" value="Discordo Totalmente" required>
                                                        <label class="form-check-label">Discordo Totalmente</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input  class="form-check-input" type="radio" th:name="'resposta' + ${pergunta.id}" th:id="'Discordo'+ ${pergunta.id}" value="Discordo" required>
                                                        <label class="form-check-label">Discordo</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" th:name="'resposta' + ${pergunta.id}" th:id="'Neutro' + ${pergunta.id}" value="Neutro" required>
                                                        <label class="form-check-label">Neutro</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input  class="form-check-input" type="radio" th:name="'resposta' + ${pergunta.id}" th:id="'Concordo' + ${pergunta.id}" value="Concordo" required>
                                                        <label class="form-check-label">Concordo</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" th:name="'resposta' + ${pergunta.id}" th:id="'Concordo Totalmente' + ${pergunta.id}" value="Concordo Totalmente" required>
                                                        <label class="form-check-label">Concordo Totalmente</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${pergunta.tipo == 'Subjetiva'}">
                                        <div class="questao-subjetiva">
                                            <div class="mb-3">
                                                <span class="form-label-span" th:text="${pergunta.descricao}"></span>
                                            </div>
                                            <textarea class="form-control" th:id="'respostaSubjetiva' + ${pergunta.id}" rows="3" placeholder="Responda aqui..."></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary btn-lg btn-custom-width">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <script src="/assets/js/main.js"></script>

    <script>
        function pegarValorDoFormulario(){

            const respostasObjetivas = document.getElementById("respostasObjetivas");
            const respostasSubjetivas = document.getElementById("respostasSubjetivas");

            const radios = document.querySelectorAll('input[type="radio"]');

            respostasObjetivas.value = respostasObjetivas.value || "";
            respostasSubjetivas.value = respostasSubjetivas.value || "";

            radios.forEach(radio => {
                if (radio.checked){

                    const nomeBotao = radio.id;
                    const match = nomeBotao.match(/^([a-zA-Z\s]+)(\d+)$/);

                    if (match) {

                        respostasObjetivas.value += match[2] + "-" + match[1] + ";";
                    }else {
                        return false
                    }

                }
            })
            const textareas = document.querySelectorAll('textarea');
            textareas.forEach(area => {

                const nomeArea = area.id;
                const match = nomeArea.match(/^([a-zA-Z\s]+)(\d+)$/);

                if (match) {
                    respostasSubjetivas.value += match[2] + "-" + area.value + ";";
                }else {
                    return false
                }
            })

            console.log(respostasSubjetivas.value)
            console.log(respostasObjetivas.value)
            return true;
        }
    </script>

</div>

</body>
</html>