<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Vincular Pergunta</title>
    <!-- Ícones -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Vincular Perguntas</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-membroCPA.html">Início</a></li>
                    <li class="breadcrumb-item">Avaliação</li>
                    <li class="breadcrumb-item active">Vincular Perguntas</li>
                </ol>
            </nav>
        </div>

        <section class="section-pergunta">
            <!-- Questões Objetivas -->
            <h2 class="title-tipo-pergunta">Perguntas Objetivas:</h2>
            <div class="row">
                <div class="col-lg-4" th:each="pergunta : ${perguntas}" th:if="${pergunta.tipo == 'Objetiva'}">
                    <div class="card-resposta">
                        <div class="card-body-responder">
                            <form method="POST" th:action="@{/autoavaliacao/vincular-pergunta}" class="row g-3">
                                <div class="mb-3">
                                    <span class="form-label-span" th:text="${pergunta.descricao}"></span>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="likert" id="likert1" value="Discordo Totalmente">
                                        <label class="form-check-label" for="likert1">Discordo Totalmente</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="likert" id="likert2" value="Discordo">
                                        <label class="form-check-label" for="likert2">Discordo</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="likert" id="likert3" value="Neutro">
                                        <label class="form-check-label" for="likert3">Neutro</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="likert" id="likert4" value="Concordo">
                                        <label class="form-check-label" for="likert4">Concordo</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="likert" id="likert5" value="Concordo Totalmente">
                                        <label class="form-check-label" for="likert5">Concordo Totalmente</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input type="hidden" name="grupoId" class="form-control" id="grupoId" th:value="${grupoId}">
                                </div>
                                <div class="col-12">
                                    <input type="hidden" name="perguntaId" class="form-control" id="perguntaId" th:value="${pergunta.id}">
                                </div>
                                <div class="mt-auto" style="text-align: center;">
                                    <button class="btn btn-primary" type="submit">Vincular</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Questões Subjetivas -->
            <h2 class="title-tipo-pergunta mt-5">Perguntas Subjetivas:</h2>
            <div class="row">
                <div class="col-lg-4" th:each="pergunta : ${perguntas}" th:if="${pergunta.tipo == 'Subjetiva'}">
                    <div class="card-resposta">
                        <div class="card-body-responder">
                            <form method="POST" th:action="@{/autoavaliacao/vincular-pergunta}">
                                <div class="mb-3">
                                    <span class="form-label-span" th:text="${pergunta.descricao}"></span>
                                </div>
                                <textarea class="form-control" id="resposta" rows="3" placeholder="Digite aqui..."></textarea>
                                <div class="col-12">
                                    <input type="hidden" name="grupoId" class="form-control" id="grupoId" th:value="${grupoId}">
                                </div>
                                <div class="col-12">
                                    <input type="hidden" name="perguntaId" class="form-control" id="perguntaId" th:value="${pergunta.id}">
                                </div>
                                <div class="mt-auto" style="text-align: center;">
                                    <button class="btn btn-primary" type="submit">Vincular</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>

</div>

</body>
</html>
