
    <div class="navbar-container">
        <nav>
            <a>
                <img [routerLink]="['/home-page']" src="../../../../assets/images/SISCPA_FUNDO_ESCURO_SEM-FUNDO.jpeg.png" alt="Icone CPA" class="logo">
            </a>
            <ul class="navbar-items">
                <li>
                    <a><p [routerLink]="['/about-us']"> Sobre Nós</p></a>
                </li>
                <li>
                    <a> <p [routerLink]="['/what-is-cpa']"> O que é CPA?</p></a>
                </li>
                <li>
                    <a><p [routerLink]="['/instituition-list']"> Instituições</p></a>
                </li>
                <li>
                   <a> <p [routerLink]="['/register']"> Cadastre-se</p></a>
                </li>
                <li>
                    <button [routerLink]="['/login']" class="btn btn-success" type="button">Entrar</button>
                </li>
            </ul>
        </nav>
    </div>
