/* Navbar */
.navbar-container {
    width:100%;
    height: 150px;
    background-color: #0477c3;
    background-color: #1f3972;
    padding: 0 2rem;
}
.btn-success{
    background-color: #022450;
    border-color: #022450;
}
nav {
    position: relative;
}
.logo {
    margin-left: 0;
    width: 135px;
}
.navbar-items {
    font-size: 17px;
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 150px;
    margin: 0;
    display: inline-block;
}
.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 75px;
}
.navbar-items a{
    color: #fafafa;
    text-decoration: none;
    
}
.navbar-items a:hover {
    color: #ccc;
}
.login-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 7px;
}
.navbar-items .login-btn:hover {
    background-color: #14b353;
    color: #fafafa;
}

