* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 300px;
}

h1,
h2,
h3 {
    color: #fff;
}
p {
    color: #fff;
}
a {
    font-size: 22px;
    color: #fff;
    text-decoration: none
}
.a1:hover,
.a2:hover,
.a3:hover {
    color: #ccc;
}

/* Navbar */
.navbar-container {
    width:100%;
    height: 150px;
    background-color: #0477c4;
    padding: 0 2rem;
}
nav {
    position: relative;
}
.logo {
    margin-left: 14px;
    width: 9%;
}
.navbar-items {
    font-size: 17px;
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 150px;
    margin: 0;
    display: inline-block;
}
.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 75px;
}
.navbar-items a{
    color: #fff;
    text-decoration: none;
    
}
.navbar-items a:hover {
    color: #ccc;
}
.login-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 7px;
}
.navbar-items .login-btn:hover {
    background-color: #14b353;
    color: #fff;
}

/* Icones */
.fas,
.fa-building-columns{
    color: #fff;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 15px;
}
.fa-circle-user,
.fa-circle-check,
.fa-image {
    color: #fff;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 15px;
}
.fa-calendar, 
.fa-question,
.fa-eye,
.fa-clipboard-question {
    color: #fff;
    font-size: 35px;
    padding: 10px 10px;
    border-radius: 100%;
}
.fa-building-columns {
    margin-top: 30px;
    color: #0477c4;
    margin-left: 85px;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 30px;
}
    
/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    background-color: #0477c4;
    height: 100%;
}
.sidebar header {
    padding: 10px 10px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background-color: #0a4696;
    line-height: 25px;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 3px solid rgba(255, 255, 255, .1);
}
.sidebar ul a i {
    margin-left: 15px;
}
.sidebar ul li:hover {
    background-color: #0767a7;
}

/* Main body */
.main-section {
    width: 90%;
    margin: 50px 50px;
}
.container-meeting, 
.container-questionnaire, 
.container-edition,
.container-questions {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 150px;
    padding: 30px;
    border:5px solid #0477c4;
    background-color: #f1f1f1;
}
.title a{
    /* box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3), 
                        -4px 0 8px rgba(0, 0, 0, 0.3);  */
    text-align: center;
    font-style: normal;
    font-size: 28px;
    color: #fff;
    background-color: #0477c4;
    padding: 14px;
    border-radius: 8px;
}
.title2 h2{
    font-style: normal;
    font-size: 28px;
    color: black;
    margin-bottom: 30px;
    margin-left: 33px;
    width: 20%;
}

/* Container de meeting */
.container-meeting {
    display: block;
    justify-content: space-around;
}
#form-meeting {
    display: flex;
    justify-content: space-around;
}
.next-meeting {
    width: 25%;
}
.next-about {
    width: 60%;
}
.submit-btn-meeting{
    background-color: #14b353;
    padding: 13px 30px;
    border-radius: 6px;
    position: absolute;
    border: 3px solid #0477c4;
    top: 529px;
    right: 110px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.next-meeting input {
    color: black;
    width: 100%;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.next-about textarea {
    border: 2px solid black;
    color: black; /* Cor do texto branco */
    width: 100%; /* Largura de 65% do contêiner pai */
    font-size: 22px; /* Tamanho da fonte de 29px */
    font-weight: 20px;
    border-radius: 10px; /* Bordas arredondadas com raio de 15px */
    height: 150px; /* Altura fixada para o textarea */
    resize: none; /* Remove a capacidade de redimensionar */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura e altura */
    padding: 20px;
}
.next-about textarea::placeholder{
    color: black;
    opacity: 0.7;
}
.next-meeting p ,
.next-about p {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
/* Container de edition */
#numberEdition {
    width: 25%;
}
.submit-btn-edition{
    background-color: #14b353;
    padding: 13px 30px;
    border-radius: 6px;
    position: absolute;
    border: 3px solid #0477c4;
    top: 1383px;
    right: 110px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.container-edition {
    display: block;
    justify-content: space-around; 
}
#form-edition {
    display: flex;
    justify-content: space-around;
}
.date-edition {
    width: 25%;
}
.edition-about {
    width: 60%;
}
.edition-about textarea {
    color: black; /* Cor do texto branco */
    width: 100%; /* Largura de 65% do contêiner pai */
    font-size: 23px; /* Tamanho da fonte de 29px */
    font-weight: 20px;
    border-radius: 10px; /* Bordas arredondadas com raio de 15px */
    height: 338px; /* Altura fixada para o textarea */
    resize: none; /* Remove a capacidade de redimensionar */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura e altura */
    padding: 20px;
    border: 2px solid black;
}
.date-edition input {
    color: black;
    width: 100%;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.edition-about input{
    color: black;
    width: 25%;
    line-height: 40px;
    font-size: 23px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.date-edition p,
.edition-about p {
    color: black;
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: bold;
}
.edition-about textarea::placeholder{
    color: black;
    opacity: 0.7;
}

/* Container de questionario */
/* ------------------------------------------------------------------------------------- */
.date-questionnaire textarea {
    resize: none;
    width: 100%;
    font-size: 23px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

.container-questionnaire {
    display: block;
    justify-content: space-between;
}
#form-questionnaire {
    display: flex;
    justify-content: space-around;
}

.date-questionnaire {
    width: 60%;
}
.questionnaire-about {
    width: 25%;
}
.date-questionnaire input,
.date-questionnaire select {
    color: black;
    width: 90%;
    line-height: 40px;
    font-size: 23px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 3px 10px;
    text-align: left;
}
.date-questionnaire input::placeholder{
    color: black;
    opacity: 0.7;
}
.date-questionnaire p{
    color: black;
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: bold;
}
.questionnaire-about p{
    color: black;
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: bold;
}
.custom-select {
    color: black; /* Cor do texto branco */
    width: 100%; /* Largura similar ao input */
    font-size: 23px; /* Tamanho da fonte de 29px */
    font-weight: bold; /* Negrito para o texto */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid black;
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
    line-height: 1.5; /* Altura da linha para melhor alinhamento */
    margin-bottom: 20px;
    text-align: center;
}
.submit-btn-questionnaire{
    background-color: #14b353;
    padding: 13px 30px;
    border-radius: 6px;
    position: absolute;
    border: 3px solid #0477c4;
    top: 2144px;
    right: 110px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* Perguntas */
.form-group {
    display: flex; /* Ativa o flexbox para o container */
    align-items: center; /* Alinha verticalmente os itens no centro */
    margin-bottom: 15px; /* Espaço abaixo do grupo de formulário */
}

.form-group label {
    margin-right: 15px; /* Espaço entre o label e o input */
    width: 100%; /* Largura do label (ajustar conforme necessário) */
    font-weight: bold; /* Negrito para o texto do label */
}
.configuration3 {
    display: block;
}

.form-group input{
    flex: 1; /* Faz com que o input ocupe o espaço restante */
    border: 2px solid black; /* Borda do input */
    border-radius: 10px; /* Bordas arredondadas do input */
    width: 100%;
    font-size: 18px;
    height: 47px;
    padding: 5px 15px;
    margin-bottom: 28px;
}
#contract-edition {
    margin-bottom: 70px;
}
.form-group select{
    font-size: 20px;
    padding: 10px;
    width: 100%;
    color: black; /* Cor do texto branco */
    font-weight: bold; /* Negrito para o texto */
    border-radius: 10px; /* Bordas arredondadas */
    border: 2px solid black;
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
    line-height: 1.5; /* Altura da linha para melhor alinhamento */
    text-align: center;
    margin-bottom: 30px;
}
.configuration1 {
    justify-content: space-between;
    display: flex;
}
.submit-btn-questions {
    background-color: #14b353;
    padding: 13px 30px;
    border-radius: 6px;
    position: absolute;
    border: 3px solid #0477c4;
    top: 2889px;
    right: 110px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.form-row {
    display: flex;
    justify-content: space-around;
}   
.part1 {
    align-items: center;
    width: 40%;
}
.part2 {
    align-items: center;
    width: 50%;
}
.container-questions label {
    font-size: 20px;
}
.form-group {
    display: block;
    margin-bottom: 30px;
}
.form-group p {
    color: black;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
}
.form-group-subject {
    margin-top: 35px;
    display: block;
    margin-bottom: 10px; 
}
.form-group-subject label {
    color: black;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold;
}
.form-group-subject p {
    color: black;
    font-size: 23px;
    margin-bottom: 22px;
    font-weight: bold;
}
.configuration2 {
    display: flex;
}
.configuration2 label{
    margin-right: 20px;
}
#questionText{
    border: 2px solid black;
    color: black; /* Cor do texto branco */
    width: 100%; /* Largura de 65% do contêiner pai */
    font-size: 22px; /* Tamanho da fonte de 29px */
    font-weight: 20px;
    border-radius: 10px; /* Bordas arredondadas com raio de 15px */
    height: 169px; /* Altura fixada para o textarea */
    resize: none; /* Remove a capacidade de redimensionar */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura e altura */
    padding: 20px;
    margin-bottom: 15px;
}

.form-group-subject input[type="radio"] {
    margin-right: 5px; /* Espaço entre o botão de rádio e o rótulo */
    vertical-align:middle; /* Alinha verticalmente o botão de rádio com o texto */
}

.form-group-subject label[for="typeSubjective"],
.form-group-subject label[for="typeObjective"] {
    margin-left: 0px; /* Espaço entre o botão de rádio e o texto do rótulo */
}
.form-group-subject input[type="radio"] {
    display: none; /* Esconde o botão de rádio padrão */
}
.form-group-subject label {
    position: relative; /* Define a posição relativa para os rótulos */
    display: inline-flex; /* Exibe os rótulos e botões como flexíveis em linha */
    align-items: center; /* Alinha verticalmente o botão e o texto */
    margin-right: 20px; /* Espaço entre os conjuntos de botão e rótulo */
    cursor: pointer; /* Define o cursor como ponteiro ao passar o mouse */
}

.form-group-subject label::before {
    content: ""; /* Remove qualquer texto do antes */
    display: inline-block; /* Exibe o ícone como um bloco em linha */
    width: 20px; /* Largura do ícone de rádio */
    height: 20px; /* Altura do ícone de rádio */
    border: 2px solid black; /* Cor e espessura da borda do ícone de rádio */
    border-radius: 50%; /* Torna o ícone de rádio redondo */
    background-color: #fff; /* Cor de fundo do ícone de rádio */
    margin-right: 8px; /* Espaço entre o ícone e o texto do rótulo */
    vertical-align: middle; /* Alinha verticalmente com o texto do rótulo */
    transition: background-color 0.2s; /* Transição suave para a mudança de cor */
}
.form-group-subject input[type="radio"]:checked + label::before {
    background-color: #0a4696; /* Cor de fundo quando selecionado */
    border-color: #042a5a; /* Cor da borda quando selecionado */
}
.form-group-subject label span {
    margin-left: 5px; /* Espaço entre o ícone e o texto */
}

/* Footer */
footer {
    background-color: #0477c4;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    border-top: 3px solid #138ee0;
}


