<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Vincular-se a Instituição</title>
    <!-- Icones -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Vincular-se a uma Instituição</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                    <li class="breadcrumb-item">Instituição</li>
                    <li class="breadcrumb-item active">Listar Instituição</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-11">
                    <!-- Card de listar instituição -->
                    <div class="card-instituicao" th:each="instituicao : ${instituicoes}">

                        <h5 class="card-title-instituicao" th:text="${instituicao.nomeFantasia}"></h5>

                        <div class="card-body-instituicao">

                            <div class="display-instituicao">

                                <div class="display2-instituicao">

                                    <div class="paragrafo1">
                                        <h5 class="title-info-instituicao"><strong>Endereço:</strong></h5>
                                        <h5>Rua: <span th:text="${instituicao.endereco.logradouro}"></span></h5>
                                        <h5>Bairro: <span th:text="${instituicao.endereco.bairro}"></span></h5>
                                        <h5>CEP: <span th:text="${instituicao.endereco.cidade}"></span></h5>
                                        <h5>Complemento: <span th:text="${instituicao.endereco.complemento}"></span></h5>
                                    </div>

                                    <div class="paragrafo1">
                                        <h5 class="title-info-instituicao"> <strong>Contato / Instituição:</strong></h5>
                                        <h5>Email: <span th:text="${instituicao.email}"></span></h5>
                                        <h5>Telefone: <span th:text="${instituicao.telefone}"></span></h5>
                                    </div>
                                </div>

                                <div class="paragrafo2">
                                    <h5 class="title-info-instituicao"> <strong>Vincular-se:</strong></h5>
                                    <a th:href="@{/conta/vincular-usuario/{id} (id=${instituicao.id})}"><i class="fa-solid fa-up-right-from-square"></i></a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </main>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</div>

</body>
</html>