<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Legislação (Membro CPA)</title>
</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Legislação</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-membroCPA.html">Inicio</a></li>
                    <li class="breadcrumb-item">Avaliação</li>
                    <li class="breadcrumb-item active">Reunião CPA</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-11">

                    <div class="card">
                        <div class="card-body">
                            <div itemprop="articleBody">
                                <h2>Legislações da Educação</h2>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/lei-9394-de-1996-estabelece-as-diretrizes-e-bases-da-educac3a7c3a3o-nacional.pdf">Lei de Diretrizes e Bases da Educação (1996)</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/plano-nacional-da-educac3a7c3a3o_2001-2010.pdf">Plano Nacional de Educação (2001-2010)</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/projeto-de-lei-nc2ba-8-035-b-de-2010.pdf">Plano Nacional de Educação (2011-2020) – Projeto Lei</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/decreto-nc2ba-5622-diretrizes-e-bases-da-educac3a7c3a3o-nacional.pdf">Decreto nº 5.622, de 19 de dezembro de 2005</a></p>
                                <p>– <a href="http://portal.mec.gov.br/index.php?option=com_content&amp;view=article&amp;id=12991&amp;Itemid=866">Diretrizes Curriculares Nacionais dos Cursos de Graduação</a></p>
                                <h2>Legislação – Avaliação e Regulação</h2>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/1c2b0-portaria-nc2ba-386-de-17-de-outubro-de-2012-divulgac3a7c3a3o-indicadores-de-qualidade-do-enade-20111.pdf">Portaria Nº 386, de 17 de outubro de 2012 – Divulgação Indicadores de Qualidade do ENADE 2011</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/2c2b0-lei-nc2ba-10861-de-14-de-abril-de-2004-lei-do-sinaes1.pdf">Lei Nº 10861, de 14 de abril de 2004 – Lei do SINAES</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/3-c2b0-portaria-nc2ba-2-051-de-9-de-julho-de-20041.pdf">Portaria nº 2051, de 9 de julho de 2004</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/4c2b0-decreto-presidencial-nc2ba-5773-2006-regulac3a7c3a3o-avaliac3a7c3a3o-e-supervisc3a3o-institucional-e-de-cursos-de-graduac3a7c3a3o1.pdf">Decreto Presidencial nº 5773-2006 – Regulação, Avaliação e Supervisão Institucional e de Cursos de Graduação</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/5c2b0-portaria-normativa-nc2ba-01-2007-ciclo-avaliativo-do-sinaes1.pdf">Portaria Normativa nº 01-2007 – Ciclo Avaliativo do SINAES</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/6c2b0-portaria-normativa-mec-nc2ba-40-2007-procedimentos-inerentes-ao-e-mec1.pdf">Portaria Normativa MEC nº 40-2007 – Procedimentos inerentes ao E-Mec</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/7c2b0-portaria-normativa-mec-nc2ba-40-2007-reeditada-e-portaria-normativa-mec-nc2ba-23-2010-procedimentos-inerentes-ao-e-mec2.pdf">Portaria Normativa MEC nº 40-2007 – Reeditada e Portaria Normativa MEc nº 23-2010 Procedimentos inerentes ao E-Mec</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/8c2b0-portaria-normativa-nc2ba-821-2009-procedimentos-de-avaliac3a7c3a3o-institucional-e-de-cursos-para-o-1c2ba-ciclo-avaliativo-sinaes1.pdf">Portaria Normativa nº 821-2009 – Procedimentos de Avaliação Institucional e de Cursos para o 1º Ciclo Avaliativo SINAES</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/9c2b0-mecinep-compc3aandio-da-legislac3a7c3a3o-regulatc3b3ria-e-avaliativa-associada-ao-sinaes-5c2aa-edic3a7c3a3o1.pdf">MECINEP – Compêndio da Legislação Regulatória e Avaliativa associada ao SINAES – 5ª Edição</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/10c2b0-resoluc3a7c3a3o-meccne-nc2ba-03-2010-credenciamento-e-recredenciamento-de-universidades1.pdf">Resolução MECCNE nº 03-2010 – Credenciamento e Recredenciamento de Universidades</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/11c2b0-cursos-a-receber-visita-de-avaliac3a7c3a3o-devido-ao-resultado-do-cpc1.pdf">Cursos a receber visita de avaliação devido ao resultado do CPC</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/12c2b0-basis-base-de-avaliadores-e-termo-de-conduta1.pdf">BASis – Base de Avaliadores e Termo de Conduta</a></p>
                                <p>– <a href="http://portal.mec.gov.br/index.php?option=com_content&amp;view=article&amp;id=12991&amp;Itemid=866">MEC – CNE – Diretrizes Curriculares Nacionais dos Cursos de Graduação (DCN)</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/14c2b0-res-cnecp-012004-educac3a7c3a3o-das-relac3a7c3b5es-c3a9tnico-raciais-e-ensino-de-histc3b3ria-e-cultura-afro-brasileira-e-africana.pdf">Res. CNECP 012004 – Educação das Relações Étnico-Raciais e Ensino de História e Cultura Afro-Brasileira e Africana</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/15c2b0-resoluc3a7c3a3o-cnecp-nc2ba-1-de-30-de-maio-de-2012-diretrizes-nacionais-para-a-educac3a7c3a3o-em-direitos-humanos.pdf">Resolução CNECP nº 1, de 30 de maio de 2012 – Diretrizes Nacionais para a Educação em Direitos Humanos.</a></p>
                                <p>– <a href="http://www.sdh.gov.br/assuntos/direito-para-todos/pdf/ParecerhomologadoDiretrizesNacionaisEDH.pdf">Parecer CNE/CP nº 8/2012 – Diretrizes Nacionais para a Educação em Direitos Humanos.</a></p>
                                <p>– <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/decreto/d7746.htm">Decreto nº 7746, DE 5 DE JUNHO DE 2012 – Diretrizes para a promoção do desenvolvimento nacional sustentável</a></p>
                                <p>– <a href="http://www.comprasnet.gov.br/legislacao/legislacaoDetalhe.asp?ctdCod=597">INSTRUÇÃO NORMATIVA Nº &nbsp;10, DE 12 DE NOVEMBRO DE 2012– Estabelece regras para elaboração dos Planos de Gestão de Logística Sustentável de que trata o art. 16, do Decreto nº 7746, de 5 de junho de 2012, e dá outras providências.</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/16c2b0-resoluc3a7c3a3o-cnecp-nc2ba-2-de-15-de-junho-de-2012-diretrizes-curriculares-nacionais-para-a-educac3a7c3a3o-ambiental.pdf">Resolução CNECP nº 2, de 15 de junho de 2012 – Diretrizes Curriculares Nacionais para a Educação Ambiental.</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/17c2b0-res-mecconaes-012010-nc3bacleo-docente-estruturante-nde.pdf">Resolução MECCONAES 01/2010 – Núcleo Docente Estruturante (NDE)</a></p>
                                <p>–Resoluções e Pareceres sobre Cargas Horárias de Cursos de Graduação:</p>
                                <p style="padding-left: 30px;">– <a href="https://cpafaimg.files.wordpress.com/2015/03/a-ch-min-bach-presenc-pces008_07.pdf">a-CH Min Bach Presenc – pces008_07</a></p>
                                <p style="padding-left: 30px;">– <a href="https://cpafaimg.files.wordpress.com/2015/03/b-chmin-hora-aula-pces261_06.pdf">b-CHMin – Hora-aula – pces261_06</a></p>
                                <p style="padding-left: 30px;">– <a href="https://cpafaimg.files.wordpress.com/2015/03/c-chmc3adn-bach-presenc-rces002_07.pdf">c-CHMín Bach Presenc – rces002_07</a></p>
                                <p style="padding-left: 30px;">– <a href="https://cpafaimg.files.wordpress.com/2015/03/d-chmc3adn-licenc-res_cp02_2002.pdf">d-CHMín Licenc – res_CP02_2002</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/19c2b0-res-cneces-022007-carga-horc3a1ria-e-durac3a7c3a3o-dos-cursos-de-bacharelado.pdf">Res. CNECES 022007 – Carga Horária e Duração dos cursos de Bacharelado</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/20c2b0-res-cneces-042009-carga-horc3a1ria-e-durac3a7c3a3o-dos-cursos-da-sac3bade.pdf">Res. CNECES 042009 – Carga Horária e Duração dos cursos da Saúde</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/21c2b0-res-cnecp-022002-carga-horc3a1ria-e-durac3a7c3a3o-dos-cursos-de-licenciatura-plena.pdf">Res. CNECP 022002 – Carga Horária e Duração dos cursos de Licenciatura Plena</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/22c2b0-df-nc2ba-5-2962004-acessibilidade.pdf">DF Nº 52962004 – Acessibilidade</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/23c2b0-df-5-6262005-libras.pdf">DF 56262005 – LIBRAS</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/24c2b0-df-nc2ba-4-2812002-polc3adtica-nacional-de-educac3a7c3a3o-ambiental.pdf">DF Nº 42812002 – Política Nacional de Educação Ambiental</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/25c2b0-lf-9-7951999-polc3adtica-nacional-de-educac3a7c3a3o-ambiental.pdf">LF 97951999 – Política Nacional de Educação Ambiental</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/26c2b0-pn-mec-122006-denominac3a7c3a3o-dos-cursos-superiores-de-tecnologia-cst.pdf">PN MEC 122006 – Denominação dos Cursos Superiores de Tecnologia (CST)</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/27c2b0-pn-mec-1-0242006-cursos-superiores-de-tecnologia-cst.pdf">PN MEC 10242006 – Cursos Superiores de Tecnologia (CST)</a></p>
                                <p>– <a href="https://cpafaimg.files.wordpress.com/2015/03/28c2b0-pn-mec-102006-catc3a1logo-dos-cursos-superiores-de-tecnologia-cst.pdf">PN MEC 102006 – Catálogo dos Cursos Superiores de Tecnologia (CST)</a></p> 	</div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>



</div>

</body>
</html>