    
        <app-navbar></app-navbar>


    <!-- Main -->
    <main>
        <div  class="main-title">
            <h1>Cadastrar Instituição</h1>
        </div>
        <!-- Seção da instituição -->
        <section class="register-institution-container">
            <div id="register2">
                <h2 class="second-title">Instituição</h2>
                <input type="text" name="fantasy-name" placeholder="Nome Fantasia" class="fantasy-name">
                <br>
                <input type="text" name="corporate-reason" placeholder="Razão Social" class="corporate-reason">
                <div class="cpf-tel">
                    <input type="text" name="cpf" placeholder="CPF" class="cpf-tel">
                    <input type="text" name="telephone" placeholder="Telefone" class="cpf-tel">
                </div>
                <div class="email">
                    <input type="text" name="email" placeholder="Email" class="email">
                    <input type="text" name="confirm-email" placeholder="Confirmar Email" class="email">
                </div>
                <div class="password">
                    <input type="password" name="password" placeholder="Senha" class="password">
                    <input type="password" name="confirm-password" placeholder="Confirmar Senha" class="password">
                </div>
            </div>
            <img src="../../../assets/images/sala2.png" alt="Sala de aula" class="sala2">
        </section>

        
        <!-- Seção de endereço -->
        <section class="register-address-container">
            <div id="register1">
                <h2 class="second-title">Endereço</h2>
                <input type="text" name="street" placeholder="Logradouro" class="street">
                <div class="number-neighborhood">
                    <input type="text" name="number" placeholder="Número" class="number-neighborhood">
                    <input type="text" name="neighborhood" placeholder="Bairro" class="number-neighborhood">
                </div>
                <div class="city-state">
                    <input type="text" name="city" placeholder="Cidade" class="city-state">
                    <input type="text" name="state" placeholder="Estado" class="city-state">
                </div>
                <div class="cep-reference">
                    <input type="text" name="cep" placeholder="CEP" class="cep-reference">
                    <input type="text" name="reference" placeholder="Referência" class="cep-reference">
                </div>
                <a href="#" class="btn-register">Cadastrar</a>
            </div>
            <img src="../../../assets/images/faculdade.png" alt="sala1" class="university">
        </section>

    </main>  


    <app-footer></app-footer>