<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Listar Instituicoes</title>
    <!-- Icones -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link href="/assets/css/style.css" rel="stylesheet">

</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Instituições</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                    <li class="breadcrumb-item">Instituição</li>
                    <li class="breadcrumb-item active">Listar Instituição</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">

                <div class="col-lg-6">
<!-- Card de listar instituição -->
                    <div class="card" th:each="instituicao : ${instituicoes}">
                        <div class="card-body">

                            <div class="display">
                                <i class="fa-solid fa-building-columns"></i>
                                <div>
                                    <h5 class="card-title" th:text="${instituicao.nomeFantasia}"></h5>
                                    <p>Para saber mais sobre a Instituição, clique no botão abaixo</p>

                                    <div class="text-end">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#modal_' + ${instituicao.id}">
                                            Visualizar
                                        </button>
                                    </div>


                                    <div class="modal fade" th:id="'modal_' + ${instituicao.id}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="${instituicao.nomeFantasia}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Endereço: </h5>
                                                    <h5>Rua: <span th:text="${instituicao.endereco.logradouro}"></span></h5>
                                                    <h5>Bairro: <span th:text="${instituicao.endereco.bairro}"></span></h5>
                                                    <h5>CEP: <span th:text="${instituicao.endereco.cep}"></span></h5>
                                                    <h5>Complemento: <span th:text="${instituicao.endereco.complemento}"></span></h5>
                                                    <br>
                                                    <h5>Contato: </h5>
                                                    <h5>Email: <span th:text="${instituicao.email}"></span></h5>
                                                    <h5>Telefone: <span th:text="${instituicao.telefone}"></span></h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>

<!--            <div class="card">-->

<!--                <tr th:each="instituicao : ${instituicoes}">-->

<!--                <div class="card-body">-->
<!--                        <h5 class="card-title"><td th:text="${instituicao.nomeFantasia}"></td></h5>-->
<!--                        <p>Para saber mais sobre a Instituição , clique no botão abaixo</p>-->

<!--                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">-->
<!--                            Visualizar-->
<!--                        </button>-->
<!--                        <div class="modal fade" id="basicModal" tabindex="-1">-->
<!--                            <div class="modal-dialog">-->
<!--                                <div class="modal-content">-->
<!--                                    <div class="modal-header">-->
<!--                                        <h5 class="modal-title"></h5>-->
<!--                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                    </div>-->
<!--                                    <div class="modal-body">-->
<!--                                        <h5>Endereço: </h5>-->
<!--                                        <h5>Rua: <td th:text="${instituicao.endereco.logradouro}"></td></h5>-->
<!--                                        <h5>Bairro: <td th:text="${instituicao.endereco.bairro}"></td></h5>-->
<!--                                        <h5>CEP: <td th:text="${instituicao.endereco.cep}"></td></h5>-->
<!--                                        <h5>Complemento: <td th:text="${instituicao.endereco.complemento}"></td></h5>-->
<!--                                        <br>-->
<!--                                        <h5>Contato: </h5>-->
<!--                                        <h5>Email: <td th:text="${instituicao.email}"></td></h5>-->
<!--                                        <h5>Telefone: <td th:text="${instituicao.telefone}"></td></h5>-->
<!--                                    </div>-->
<!--                                    <div class="modal-footer">-->
<!--                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                </tr>-->
<!--            </div>-->


<!--        Fim do card de listar instituições-->

<!--        <section class="section">-->
<!--            <div class="row">-->

<!--                <div class="col-lg-6">-->

<!--                    <div class="row justify-content-center">-->
<!--                        <div class="card mb-5">-->
<!--                            <div class="card-body">-->
<!--                                <table class="table table-striped table-hover text-center">-->
<!--                                    <thead>-->

<!--                                    <tr>-->
<!--                                        <th scope="col">CNPJ</th>-->
<!--                                        <th scope="col">Email</th>-->
<!--                                        <th scope="col">razao_social</th>-->
<!--                                        <th scope="col">nome_fantasia</th>-->
<!--                                        <th scope="col">telefone</th>-->
<!--                                        <th scope="col">email_responsavel</th>-->
<!--                                        <th scope="col">telefone_responsavel</th>-->
<!--                                        <th scope="col">nome_responsavel</th>-->
<!--                                        <th scope="col">situacao</th>-->
<!--                                        <th scope="col">Logradouro</th>-->
<!--                                        <th scope="col">numero</th>-->
<!--                                        <th scope="col">bairro</th>-->
<!--                                        <th scope="col">cep</th>-->
<!--                                        <th scope="col">complemento</th>-->
<!--                                    </tr>-->

<!--                                    <tbody>-->
<!--                                    <tr th:each="instituicao : ${instituicoes}">-->
<!--                                        <th scope="row" th:text="${instituicao.cnpj}"></th>-->
<!--                                        <td th:text="${instituicao.email}"></td>-->
<!--                                        <td th:text="${instituicao.razaoSocial}"></td>-->
<!--                                        <td th:text="${instituicao.nomeFantasia}"></td>-->
<!--                                        <td th:text="${instituicao.telefone}"></td>-->
<!--                                        <td th:text="${instituicao.resposavelEmail}"></td>-->
<!--                                        <td th:text="${instituicao.responsavelTelefone}"></td>-->
<!--                                        <td th:text="${instituicao.responsavelNome}"></td>-->
<!--                                        <td th:text="${instituicao.situacao}"></td>-->

<!--                                        <td th:text="${instituicao.endereco.logradouro}"></td>-->
<!--                                        <td th:text="${instituicao.endereco.numero}"></td>-->
<!--                                        <td th:text="${instituicao.endereco.bairro}"></td>-->
<!--                                        <td th:text="${instituicao.endereco.cep}"></td>-->
<!--                                        <td th:text="${instituicao.endereco.complemento}"></td>-->

<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--            </div>-->
<!--        </section>-->

    </main><!-- End #main -->


</div>

</body>
</html>