<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Listar Instituicoes</title>
    <!-- Icones -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link href="/assets/css/style.css" rel="stylesheet">

</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Instituições</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                    <li class="breadcrumb-item">Instituição</li>
                    <li class="breadcrumb-item active">Listar Instituição</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Pesquisar" title="Enter search keyword">
                <button type="submit" title="Search" class="search-membro"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <section class="section">
            <div class="row">

                <div class="col-lg-11">

                    <div class="card-instituicao" th:each="instituicao : ${instituicoes}">

                        <h5 class="card-title-instituicao" th:text="${instituicao.nomeFantasia}"></h5>

                        <div class="card-body-instituicao">

                            <div class="display-instituicao">

                                <div class="display2-instituicao">

                                    <div class="paragrafo1">
                                        <h5 class="title-info-instituicao"><strong>Endereço:</strong></h5>
                                        <h5>Rua: <span th:text="${instituicao.endereco.logradouro}"></span></h5>
                                        <h5>Bairro: <span th:text="${instituicao.endereco.bairro}"></span></h5>
                                        <h5>CEP: <span th:text="${instituicao.endereco.cep}"></span></h5>
                                        <h5>Complemento: <span th:text="${instituicao.endereco.complemento}"></span></h5>
                                    </div>

                                    <div class="paragrafo1">
                                        <h5 class="title-info-instituicao"><strong>Contato / Responsável:</strong></h5>
                                        <h5>Nome: <span th:text="${instituicao.responsavelNome}"></span></h5>
                                        <h5>Email: <span th:text="${instituicao.resposavelEmail}"></span></h5>
                                        <h5>Telefone: <span th:text="${instituicao.responsavelTelefone}"></span></h5>
                                    </div>

                                    <div class="paragrafo1">
                                        <h5 class="title-info-instituicao"> <strong>Contato / Instituição:</strong></h5>
                                        <h5>Email: <span th:text="${instituicao.email}"></span></h5>
                                        <h5>Telefone: <span th:text="${instituicao.telefone}"></span></h5>
                                    </div>
                                </div>

                                <a th:href="@{/instituicao/menu-instituicao}"><i class="fa-solid fa-right-to-bracket"></i></a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

</div>

</body>
</html>