<app-navbar></app-navbar>

<h1>admin-page works!</h1>

<h2>Por enquanto utilizado para testar as rotas dos Botões</h2>


<a> <p [routerLink]="['/Login']"> Login</p></a>

<a> <p [routerLink]="['/home-page']"> Home Page</p></a>

<a> <p [routerLink]="['/register-instituition']"> register-instituition</p></a>

<a> <p [routerLink]="['/what-is-cpa']"> what-is-cpa</p></a>

<a> <p [routerLink]="['/instituition-list']"> instituition-list</p></a>

<a> <p [routerLink]="['/about-us']"> about-us</p></a>

<a> <p [routerLink]="['/instituition-profile']"> instituition-profile</p></a>

<a> <p [routerLink]="['/instituition-evaluation']"> instituition-evaluation</p></a>

<a> <p [routerLink]="['/instituition-evaluation-questionnaire']"> instituition-evaluation-questionnaire</p></a>

<a> <p [routerLink]="['/user-profile']"> user-profile</p></a>

<a> <p [routerLink]="['/forget-password']"> forget-password</p></a>

<a> <p [routerLink]="['/instituition-sign-up']" >Inscreva-se como Generico</p></a>

<a> <p [routerLink]="['/edit-profile']" >edit-profile</p></a>


<app-footer></app-footer>