<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Questionário</title>
</head>
<body>

<div layout:fragment="body">

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Cadastrar Questionário</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-membroCPA.html">Incio</a></li>
                    <li class="breadcrumb-item">Avaliação</li>
                    <li class="breadcrumb-item active">Questionário</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">

                            <!--  <form class="row g-3 needs-validation" novalidate>
                              <div class="col-12">
                                <label for="yourName" class="form-label">Nome do Questionário</label>
                                <input type="text" name="name" class="form-control" id="yourName" required>
                                <div class="invalid-feedback">Por Favor, entre com o nome!</div>
                              </div> -->

                            <div class="col-12">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Descrição</label>
                                <div class="">
                                    <textarea class="form-control" style="height: 100px"></textarea>
                                </div>
                            </div>

                            <!--   <div class="col-12">
                                 <label>Situação</label>
                                 <div class="">
                                   <select class="form-select" aria-label="Default select example">
                                     <option selected>-----</option>
                                     <option value="1">Ativo</option>
                                     <option value="2">Inativo</option>
                                   </select>
                                 </div>
                               </div>

                                 <div class="col-12">
                                     <label for="inputPassword" class="">Observação</label>
                                     <div class="">
                                       <textarea class="form-control" style="height: 100px"></textarea>
                                     </div>
                                 </div> -->

                            <div class="col-12">
                                <label>Tipo</label>
                                <div class="">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>-----</option>
                                        <option value="1">Aluno</option>
                                        <option value="2">Professor</option>
                                        <option value="3">Colaborador</option>
                                        <option value="4">Comunidade Externa</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop">
                            Cadastrar
                        </button>
                        <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Cadastro de Questionário</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Seu cadastro foi realizado com sucesso!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<script src="/assets/js/main.js"></script>

</div>

</body>
</html>