<app-navbar></app-navbar>

    <!-- Main -->
    <main>
        <section class="register-institution">
            <div class="institution-container">
                <div class="register">
                    <h1>SIS CPA</h1>
                    <button [routerLink]="['/register']" class="btn btn-light" type="button">Cadastrar</button>
                </div>
                <img src="../../../assets/images/estudantes.png" alt="estudantes" class="students">
            </div>
        </section>
        <!-- Section About CPA -->
        <div class="main-banner">
            <h1>Conheça mais sobre a CPA</h1>
        </div>
        <section class="about-cpa-container">
            <ul>
                <div class="cpa1">
                    <li>
                        <img src="../../../assets/images/Default_imagem_de_uma_universidade_atual_em_uma_cidade_0.jpg" alt="instituição" class="instituicao">
                        <div class="cpa2">
                            <h2>Saiba como funciona uma CPA</h2>
                            <p>Uma Comissão Própria de Avaliação (CPA) é um órgão presente em instituições 
                            de ensino superior, responsável por coordenar e conduzir processos internos 
                            de avaliação institucional, visando o aprimoramento da qualidade educacional, 
                            conforme diretrizes estabelecidas pelos órgãos reguladores da educação.</p>
                        </div>
                    </li>
                    
                </div>
                <div class="cpa1">
                    <li>
                        <img src="../../../assets/images/Default_imagem_de_uma_estudante_sorrindo_na_frente_de_uma_facu_1.jpg" alt="instituição" class="instituicao">
                        <div class="cpa2">
                            <h2>O que a CPA proporciona para os estudantes?</h2>
                        <p>A CPA proporciona aos estudantes um ambiente educacional de qualidade 
                            através da avaliação contínua dos processos acadêmicos e da infraestrutura 
                            da instituição, resultando em melhorias no ensino, na aprendizagem e na 
                            experiência geral do aluno durante sua jornada acadêmica.</p>  
                        </div> 
                    </li>
                </div>    
            </ul>      
        </section>

        <!-- Section about Register -->

        <section class="register-container">
            <h2>Ainda não entende o que é a CPA? Se liga como é simples:</h2>

            <div class="a1">
                <i class="fas fa-solid fa-user"></i>
                <a [routerLink]="['/register']" class="a1">Cadastre-se como usuário</a>
            </div>

            <div class="a2">
                <i class="fas fa-solid fa-landmark"></i>
                <a [routerLink]="['/instituition-list']" class="a2">Cadastre-se na instituição</a>
            </div>

            <div class="a3">
                <i class="fas fa-solid fa-file-contract"></i>
                <a class="a3">Participe de uma avaliação</a>
            </div>
        </section>
    </main>

    <app-footer></app-footer>