<app-navbar></app-navbar>


<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="../../../assets/images/SISCPA_FUNDO_CLARO_SEM-FUNDO.jpeg.png" alt="John" style="width:100%">
  <h1>Instituição SIS CPA</h1>
  <p class="title">Insituição de gerenciamento de CPAs</p>
  <p><button [routerLink]="['/instituition-evaluation']" >Acessar questionários</button></p>
  <p><button [routerLink]="['/instituition-sign-up']" >Inscreva-se como Aluno</button></p>
  <p><button [routerLink]="['/instituition-sign-up']" >Inscreva-se como Professor</button></p>
  <p><button [routerLink]="['/instituition-sign-up']" >Inscreva-se como Colaborador</button></p>
  <p><button [routerLink]="['/instituition-sign-up']" >Inscreva-se como Comunidade Externa</button></p>
</div>

<app-footer></app-footer>