* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #fff;
}
p {
    color: #fff;
}
a {
    font-size: 22px;
    color: #fff;
    text-decoration: none
}
.a1:hover,
.a2:hover,
.a3:hover {
    color: #ccc;
}

/* Navbar */
.navbar-container {
    width:100%;
    height: 150px;
    background-color: #0477c4;
    padding: 0 2rem;
}
nav {
    position: relative;
}
.logo {
    margin-left: 0;
    width: 9%;
}
.navbar-items {
    font-size: 17px;
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 150px;
    margin: 0;
    display: inline-block;
}
.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 75px;
}
.navbar-items a{
    color: #fff;
    text-decoration: none;
    
}
.navbar-items a:hover {
    color: #ccc;
}
.login-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 7px;
}
.navbar-items .login-btn:hover {
    background-color: #14b353;
    color: #fff;
}

/* Login container */
.main-title h1{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    color: #0477c4;
}
.login-container {
    margin-bottom: 100px;
}
.login1 input {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 10px;
    border: 5px solid #0477c4;
    display: block;
    border-radius: 20px;
    width: 600px;
}
.btn-login {
    cursor: pointer;
    font-size: 20px;
    margin-left: 150px;
    padding: 10px 275px;
    background-color:#0a4696;
    border-radius: 20px;
}
.login2 {
    margin-bottom: 50px;
    margin-left: 150px;
    font-size: 20px;
    display: block;
}
.login2 input[type="checkbox"] {
    width: 15px;
    height: 15px;
    position: relative;
}
.students2 {
    width: 20%;
    grid-column: 2;
    position: absolute;
    top: 300px;
    right: 270px;
}
.forget-password {
    margin-top: 50px;
    font-size: 25px;
    color: #0a4696;
    display: block;
    margin-left: 150px;
}

/* footer */
footer {
    background-color: #0477c4;
    padding: 50PX;
    text-align: center;
    font-weight: bold;
    border-top: 3px solid #fff;
}

