
<app-navbar></app-navbar>

<p>forget-password works!</p>

<!-- Main -->
<main>
    <section class="login-container">
        <div  class="main-title">
            <h1>Recuperar Senha</h1>
        </div>
        <div class="login1">
            <input type="text" name="email" placeholder="Email">
        </div>
        <div class="login3">
            <a [routerLink]="['/login']" class="btn-login">Recuperar</a>
        </div>
        <img src="../../../assets/images/sala1.png" alt="estudantes" class="students2">
    </section>
</main>    


<app-footer></app-footer>